html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(135deg, #00ffcc, #ff6699);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    color: #FFFFFF;
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
}

.name-box .login-box {
    position: relative;
}

.name-box .login-box input {
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background: transparent;
    outline: none;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px 0;
}

.name-box .login-box label {
    color: white;
    font-size: 16px;
    padding: 10px 0;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .name-box input:focus ~ label,
.login-box .name-box input:valid ~ label {
    color: #00ccff;
    font-size: 12px;
    top: -20px;
    left: 0
}

.login-box form a {
    position: relative;
    display: inline-block;
    color:teal;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover {
    background: #0099ff;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 5px #0099cc,
                0 0 25px #0033cc,
                0 0 50px #a866ff,
                0 0 100px #cc33ff;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff6699);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%
    }
    50%, 100% {
        left: 100%
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #6600ff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #cc00ff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ff3399);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%
    }
}
